# -*- mode: ruby -*-
# vi: set ft=ruby :

Vagrant.configure(2) do |config|
    
    config.vm.box = "ubuntu/trusty64"
    config.vm.hostname = "{{ dns }}"
    config.vm.network :private_network, ip: "{{ ip }}"
    
    config.ssh.insert_key = false
    
    config.vm.provider :virtualbox do |v|
        v.name = "{{ dns }}"
        v.memory = 1024
        v.cpus = 2
        v.customize ["modifyvm", :id, "--natdnshostresolver1", "on"]
        v.customize ["modifyvm", :id, "--ioapic", "on"]
    end
    
    config.vm.provision "ansible" do |ansible|
        ansible.verbose = "v"
        ansible.limit = "dokku"
        ansible.playbook = "dokku.yml"
        ansible.inventory_path = "test_hosts"
        ansible.extra_vars = { ansible_ssh_user: 'vagrant' }
    end
end
